@import "../../../theme/app-theme";

result-follower{
  box-sizing: border-box;
  padding: 0.15em;
  display: flex;
  @media #{$break-point-xs} {
    flex-basis: 100%;
  }
  @media #{$break-point-sm} {
    flex-basis: 50%;
  }
  @media #{$break-point-md} {
    flex-basis: 33%;
  }
  @media #{$break-point-lg} {
    flex-basis: 25%;
  }
  .follower-card{
    padding: 0;
  }
}

.follower-card{
  width: 100%;
  max-height: 56px;
  display: flex;
  align-content: center;
}

.button-container{
  display: flex;
  @media #{$break-point-xs} {
    flex-basis: 15%;
  }
  @media #{$break-point-sm} {
    flex-basis: 15%;
  }
  @media #{$break-point-md} {
    flex-basis: 20%;
  }
  @media #{$break-point-lg} {
    flex-basis: 20%;
  }
  align-items: center;
  justify-content: center;
  a{
    display: flex;
  }
}

.follower-info{
  padding: 0.45em;
  text-align: center;
  color: mat-color($otp-app-accent, 500);
  font-weight: 700;
  display: flex;
  @media #{$break-point-xs} {
    flex-basis: 70%;
    justify-content: center;
  }
  @media #{$break-point-sm} {
    flex-basis: 70%;
    justify-content: center;
  }
  @media #{$break-point-md} {
    flex-basis: 60%;
  }
  @media #{$break-point-lg} {
    flex-basis: 60%;
  }
  align-items: center;
}

.follower-text{
  display: flex;
}

.follower-avatar-container{
  display: flex;
  @media #{$break-point-xs} {
    flex-basis: 15%;
  }
  @media #{$break-point-sm} {
    flex-basis: 15%;
  }
  @media #{$break-point-md} {
    flex-basis: 20%;
  }
  @media #{$break-point-lg} {
    flex-basis: 20%;
  }
}

.follower-avatar{
  height: 100%;
  width: 100%;
  img{
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
