@import "../../theme/app-theme";

app-result{
  width: 100%;
}

.followers-loaded{
  color: mat-color($otp-app-accent, 600);
}

.followers-grid{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.15em;
}

.load-more{
  margin: 0.5em 0;
  display: flex;
  justify-content: center;

  button{
    display: flex;
  }
}
